.auth-page {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.auth-form-content {
    width: 100%;
    max-width: 375px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    /*text-align: center;*/
}

.helper-link {
    color: var(--text-color);
    text-decoration: underline;
    transition: opacity 0.2s;
}

.terms-text{
    color:var(--small-text-color);
    font-size:0.857rem;
}
.terms-text span{
    color: var(--text-color);
    font-family: "Inter", sans-serif;
}
.terms-container{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
.terms-container p{
    text-align: center;
}

