:root {
  --primary-color: rgba(255, 136, 17, 1);
  --text-color: rgba(255, 255, 255, 1);
  --button-text-color: rgba(255, 255, 255, 1);
  --small-text-color: rgba(135, 145, 183, 1);
  --border-color: rgba(56, 65, 98, 1);
  --form-bg-color: rgba(21, 26, 45, 1);
  --bg-primary-color: rgba(14, 18, 35, 1);
  --bg-secondary-color: rgba(27, 32, 55, 1);
  --modal-bg-color: rgba(27, 32, 55, 0.5)
}

[data-theme="light"] {
  --primary-color: rgba(255, 136, 17, 1);
  --text-color: rgba(27, 32, 55, 1);
  --button-text-color: rgba(255, 255, 255, 1);
  --small-text-color: rgba(102, 112, 133, 1);
  --border-color: rgba(224, 226, 231, 1);
  --form-bg-color: rgba(255, 255, 255, 1);
  --bg-primary-color: rgba(250, 250, 250, 1);
  --bg-secondary-color: rgba(255, 255, 255, 1);
  --modal-bg-color: rgba(27, 32, 55, 0.5)
}